WAREHOUSE_BACKEND=snowflake

SNOWFLAKE_ACCOUNT=MYORG-MYACCOUNT
SNOWFLAKE_USER=OWA_APP_USER
SNOWFLAKE_PRIVATE_KEY_PATH=.secrets/owa_app_user_key.p8
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=OWA_DEMO
SNOWFLAKE_ROLE=OWA_APP_ROLE
